.task-item{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    div{
        margin-right: 10px;
        margin-bottom: 10px;
    }
}

.update-form{
    list-style: none;
    margin-bottom: 10px;
}
.disable-update-form{
    list-style: none;
    display: none;
}